<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form method="POST" action="/">
     <p Team Name:<input type="text" name="name"></p>
     <p Coach:<input type="text" name="coach"></p>
     <p Point Guard:<input="text" name="pg"></p>
     <p Shooting Guard:<input="text" name="sg"></p>
     <p Small Forward:<input="text" name="sf"></p>
     <p Power Forward:<input="text" name="pf"></p>
     <p Center:<input="text" name="c"></p>
     <p><button type="submit" name="submit" id="sumbit</button></p>
     
   </form>
 </body>
</html>


