<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form method="POST" action="/">
     <p Team Name:<input type="text" team_name="team name">
     
   </form>
 </body>
</html>


