<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form method="POST" action="/">
     <p Team Name:<input type="text" team_name="team name"></p>
     <p Coach:<input type="text" name="name"></p>
     <p Point Guard:<input="text" name="name"></p>
     <p Shooting Guard:<input="text" name="name"></p>
     <p Small Forward:<input="text" name="name"></p>
     <p Power Forward:<input="text" name="name"></p>
     <p Center:<input="text" name="name"></p>
     <p><button type="submit" value="submit">Submit</button></p>
     
   </form>
 </body>
</html>


